/*Base style*/
:root{
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navy-blue-modal-color: #2E2F42;
    --grey-color: #2E2F42;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;
    
    }
    body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }
    h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    }
    ul,
    ol {
    list-style-type: none;
    }
    a{
    text-decoration: none;
    }
    img{
    display: block;
    }
    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
    .container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }
    .link{
    text-decoration: none;
    }
    .list{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    }
        
    /*Header styles*/
    .header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .header-nav{
    display: flex;
    align-items: center;
    }
    .header-socials{
    display: flex;
    gap: 40px
    }
    .header-span{
    color: #2e2f42;
    }
    .header-div{
    display: flex;
    align-items: center;
    }
    .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    }
    .list-item{
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .list-item.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    }
    .list-item.current{
    color: #404bbf;
    }
    .list-item:hover{
    color: #404bbf;
    }
    .list-item:focus{
    color: #404bbf;
    }
    .address{
    font-style: normal;
    margin-left: auto;
    }
    .address-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-link:hover{
    color: #404bbf;
    }
    .address-link:focus{
    color: #404bbf;
    }
        
    /*Hero styles*/
    .hero{
    max-width: 1440px;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
     url(../images/images-index/bk/bk-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0;
    }
    .hero-title{
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    }
    .hero-button{
    margin: 0 auto;
    margin-top: 48px;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-button:hover{
    background-color: #404BBF;
    }
    .hero-button:focus{
    background-color: #404BBF;
    }
        
    /*Benefits styles*/
    .benefits{
    padding: 120px 0;
    }
    .benefits-title{
    font-family: 'Roboto', sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
    margin: 0px;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    }
    .benefits-section{
    font-family: 'Roboto', sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    }
    .benefits-socials{
    display: flex;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    }
    .benefits-list{
    width: calc((100% - 72px) / 4);
    }
    .benefits-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    }
    .benefits-icon{
    
    }
        
    /*Intent styles*/
    .intent{
    padding-bottom: 120px;
    }
    .intent-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }
    .intent-socials{
    gap: 24px;
    }
    .intent-list{
    width: calc((100% - 48px) / 3);
    }
        
    /*Team styles*/
    .team{
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0;
    }
    .team-title{
    font-family: 'Roboto', sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }
    .team-list{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .team-section{
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE, #434455);
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    padding-bottom: 8px;
    }
    .team-socials{
    gap: 24px;
    }
    .team-container{
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
    }
    .team-title-card{
    font-family: 'Roboto', sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
    margin: 0px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    }
    .team-icons{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    }
    .team-list-icon{
    width: 40px;
    height: 40px;
    }
    .team-link-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    }
    .team-link-icon:hover,
    .team-link-icon:focus{
    background-color: #404bbf;
    }
    .team-icon{
    fill: #f4f4fd;
    }
    
    /*Customers styles*/
    .customers{
    padding: 120px 0;
    }
    .customers-title{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
    }
    .customers-icons{
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    }
    .customers-list{
    width: calc((100% - 120px) / 6);
    height: 88px;
    }
    .customers-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .customers-link:hover,
    .customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
    }
    .customers-icon{
    fill: currentColor;
    cursor: pointer;
    }
    
    
    /*Footer styles*/
    .footer{
    background-color: #2e2f42;
    padding: 100px 0;
    }
    .footer-span{
    color: #f4f4fd;
    }
    .footer-section{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    }
    .logo-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    }
    .footer-container{
    display: flex;
    align-items: baseline;
    width: 1158px;
    padding: 0 15px;
    }
    .footer-tx{
    margin-right: 120px
    }
    .footer-social-section{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    }
    .footer-social-icon{
    display: flex;
    gap: 16px;
    }
    .footer-social-list{
    width: 40px;
    height: 40px;
    }
    .footer-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    }
    .footer-social-link:hover{
    background-color: #31d0aa;
    }
    .footer-social-link:focus{
    background-color: #31d0aa;
    }
    
    .footer-social-icon{
    fill: #f4f4fd;
    padding: 0;
    margin: 0;
    }
    .footer-data{
    margin-left: 80px;
    }
    .footer-data-section{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    }
    .footer-data-form{
    display: flex;
    gap: 24px;
    }
    .footer-data-label{
    
    }
    .footer-data-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    }
    .footer-data-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    }
    .footer-data-icon{
    margin-left: 16px;
    fill: #ffffff;
    }
        
    /*navigation-portfolio*/
    .navigation{
    padding: 96px 0 120px 0;
    }
    .navigation-button{
    background-color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .navigation-button:hover{
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .navigation-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .navigation-socials{
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    }
    .navigation-socials-portfolio{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    }
    .navigation-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    }
    .navigation-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    }
    .navigation-list{
    
    }
    .navigation-section{
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    }
    .navigation-portfolio-link{
    display: block;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .navigation-portfolio-link:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .navigation-portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .navigation-portfolio-link:hover .navigation-section-image,
    .navigation-portfolio-link:focus  .navigation-section-image{
    transform: translateY(0%);
    }
    .navigation-portfolio-image{
    position: relative;
    overflow: hidden;
    }
    .navigation-section-image{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    /*container-portfolio*/
    .header-container-portfolio{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }
    
    /* Modal */
    .backdrop{
    background-color:rgba(46, 47, 66, 0.4) ;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    padding: 72px 24px 24px 24px;
    }
    .backdrop .id-hidden .modal{
    transform: translateY(-100%), translateX(-0%) scale(0.4);
    }
    .modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
    }
    .modal-button:hover{
    background-color: #404bbf;
    border: none;
    }
    .modal-button:focus{
    background-color: #404bbf;
    border: none;
    }
    .icon-close{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-button:hover,
    .modal-button:focus{
    color:  #FFFFFF;
    }
    .is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    }
    .review-form-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
    }

    .review-form{
        
    }

    .review-form-field-wrapper{
    margin-bottom: 8px;

    }

    .review-form-textarea-wrapper{
    margin-bottom: 16px;
    }

    .review-form-field-label{
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;

    }

    .review-form-input-wrapper{
    position: relative;
    }

    .review-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding-left: 38px;
    outline: 0 solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .review-form-input:focus{
    border-color: #4D5AE5;
    }

    .review-form-input:focus + .review-form-field-icon{
    fill: #4D5AE5;
    }

    .review-form-field-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    stroke: ;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .review-form-submit-btn{
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: color ;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .review-form-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
    }

    .review-form-comment:focus{
    border-color: #4D5AE5;
    }


    .review-form-checkbox{
    margin-bottom: 24px;
    }

    .review-form-checkbox-wrapper{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    }

    .review-form-own-checkbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .review-form-checkbox-input:checked + .review-form-checkbox-wrapper > .review-form-own-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    }

    .review-form-link{
    color: #4d5ae5;
    }

