/* =============== BASE STYLE =============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

/* =============== /BASE STYLE =============== */


/* =============== HEADER STYLE =============== */
.header {
    padding: 24px 0;
}

.header-socials {
    display: none;
}

.address {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-span {
    color: #2e2f42;
}

.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open-btn-icon {
    stroke: #2E2F42;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =============== /HEADER STYLE =============== */

/* =============== MOBILE MENU STYLE =============== */

.mobile-menu-div {
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 99999999;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu-div.is-open {
    transform: translateX(0%);
}

.mobile-menu-div-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
}

.mobile-menu-div-close-btn-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-top: 80px;
}

.mobile-menu {

}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-item:last-child {
    margin-bottom: 284px;

}

.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.address-list {

}

.address-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.address-link {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mobile-socials-menu-list {
    display: flex;
    gap: 56px;
}

.mobile-socials-list {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    padding: 0;
}

.mobile-socials-list-icon {
    width: 40px;
    height: 40px;
}

.mobile-socials-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.mobile-socials-icon {
    fill: #ffffff;
}


.current {
    color: #404BBF;
}

.address-link-current {
    color: #404BBF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

/* =============== /MOBILE MENU STYLE =============== */


/* =============== Hero STYLE =============== */

.hero {
    max-width: 428px;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
     url(../images/images-index/bk/bk-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 112px 0;
}

.hero-title{
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 320px;
    }
    .hero-button{
    margin: 0 auto;
    margin-top: 72px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-button:hover{
    background-color: #404BBF;
    }
    .hero-button:focus{
    background-color: #404BBF;
    }

/* =============== /Hero STYLE =============== */

/* =============== Benefits STYLE =============== */

.benefits {
    padding: 96px 0;
}

.benefits-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits-list {
    max-width: 100%;
}

.benefits-icons {
    display: none;
}

.benefits-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--NAVY-BLUE, #2E2F42);
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
}

.benefits-section {
    max-width: 396px;
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

/* =============== /Benefits STYLE =============== */

/* =============== Intent STYLE =============== */

.intent {
    display: none;
}

/* =============== /Intent STYLE =============== */

/* =============== Team STYLE =============== */

.team {
    background:#F4F4FD;
    padding: 96px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-socials {
    margin: 0 auto;
    max-width: 264px;
}

.team-list {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list:not(:last-child) {
    margin-bottom: 72px;
}

.team-image {
    margin: 0 auto;
}

.team-container {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title-card {
    color: #2E2F42;
    margin: 0px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-section {
    color: #434455;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
    padding-bottom: 8px;
}

.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
}

.team-list-icon {
    width: 40px;
    height: 40px;
}

.team-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.team-icon {
    fill: #f4f4fd;
}

/* =============== /Team STYLE =============== */


@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}
