/* =============== BASE STYLE =============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

/* =============== /BASE STYLE =============== */


/* =============== HEADER STYLE =============== */
.header {
    padding: 24px 0;
}

.header-socials {
    display: none;
}

.address {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-span {
    color: #2e2f42;
}

.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open-btn-icon {
    stroke: #2E2F42;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =============== /HEADER STYLE =============== */

/* =============== MOBILE MENU STYLE =============== */

.mobile-menu-div {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 99999999;
    width: 100%;
    height: 100%;
}

.mobile-menu-div-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
}

.mobile-menu-div-close-btn-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============== /MOBILE MENU STYLE =============== */
